* {
	margin: 0;
	padding: 0;
}
body {
	/* background: #e5e5e5; */

	/* background: red; */
}
.container {
	max-width: 70%;
	margin: auto;
}

.secondNav {
	display: none;
	align-items: center;
	justify-content: space-between;
}
.header ul {
	margin: 0;
	padding: 0;
}
.header ul li {
	float: left;
	display: inline;
	padding: 0 20px 0 0;
}
.header a {
	text-decoration: none;
	/* color: #ccc; */
}
.resource {
	color: #0052cc;
}
.header {
	margin-top: 10px;
	display: flex;
	align-content: center;
	justify-content: space-between;
}
.btn {
	border: none;
	padding: 5px;
	font-size: 14px;
}
.btn.sign-up {
	background: #fff;
}
.btn.sign-in {
	margin-left: 10px;
	color: #fff;
	background: #0052cc;
	border-radius: 3px;
}
.main-header h5 {
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 30px;
	/* line-height: 120%; */
}
.hero-image img {
	width: 710px;
	height: auto;
}
.main {
	margin-top: 101px;
	margin-bottom: 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.vision {
	background: #f4f5f7;
	padding-top: 50px;
	padding-bottom: 30px;
	/* margin-top: 30px;
	margin-bottom: 30px; */
}
.vision h3 {
	font-size: 48px;
}

.vision .mission {
	width: 33%;
}
.vision .mission p {
	line-height: 24px;
	padding: 25px 0 40px 0;
}

.side-bar {
	/* background: #fff; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: center;
	justify-content: center;
	grid-gap: 15px;
}

.side-bar .grading {
	background: #fff;
	/* padding: 20px; */
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 32px 32px 40px;
}

.side-bar .grading h5 {
	font-size: 24px;
}
.side-bar .grading p {
	font-size: 14px;
	line-height: 20px;
}
.side-bar .grading img {
	padding-bottom: 25px;
}

.EmployeeDirectory {
	margin-top: 50px;
	margin-bottom: -50px;
}

.section {
	display: grid;
	margin-top: 70px;
	grid-template-columns: 1.5fr 1fr 1fr;
	align-content: center;
	justify-content: center;
	/* grid-gap: 20px; */
}

.section img {
	padding-bottom: 25px;
}
.section .admin1 {
	padding-top: 40px;
	width: 400px;
}
.section .admin2 {
	width: 202px;
}
.section .admin3 {
	width: 224px;
}

.section .admin h5 {
	font-size: 48px;
}

.section .admin2 h6,
.admin3 h6 {
	font-size: 24px;
	padding-bottom: 15px;
}

.travelLogistic {
	margin-top: 50px;
	/* background: chartreuse; */
}
/* .travelLogistic img {
	margin-right: 60px;
} */

.logo {
	display: grid;
	margin-bottom: 80px;
	grid-template-columns: 1fr 1fr 2fr 1fr;
	align-content: center;
	justify-content: center;
}

.footer {
	background: #091e42;
	padding: 50px;
	color: #fff;
}

.footer h3 {
	padding-bottom: 10px;
	font-size: 40px;
	color: #a5adba;
}
.footer p {
	font-size: 18px;
}
.footer small {
	font-size: 16px;
}

.innerFooter {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.btn-component {
	display: inline-block;
	background: #000;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
	width: 100%;
}

.btn-component:focus {
	outline: none;
}

.signin {
	background: chartreuse;
}

.signin-navbar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	justify-content: space-between;
	padding-bottom: 100px;
}

.signin .container p {
	padding-bottom: 30px;
}

.signin .container .about {
	padding-bottom: 50px;
}

/*form designing  */

.add-form {
	margin-bottom: 40px;
}
.form-control {
	margin: 20px;
}

.form-control label {
	display: block;
}

.form-control input {
	width: 100%;
	height: 40px;
	margin: 5px;
	padding: 3px 7px;
	font-size: 17px;
}

.signin .container .button {
	display: block;
}
